Authorization/.vs/*
Authorization/bin/*
Authorization/obj/*
Data_Access_layer/.vs/*
Data_Access_layer/bin/*
Data_Access_layer/obj/*
Business_Access_Layer/.vs/*
Business_Access_Layer/bin/*
Business_Access_Layer/obj/*
DomainLayer/.vs/*
DomainLayer/bin/*
DomainLayer/obj/*
UnitTests/.vs/*
UnitTests/obj/*
UnitTests/bin/*
PresistenceLayer/.vs/*
PresistenceLayer/obj/*
PresistenceLayer/bin/*
UnitTests/bin/*
UnitTests/obj/*
UnitTests/.vs/*
.vs/*
